<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ve183011m.pki_ve183011m">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".presentation.handyman.requests.HandymanRequestPreviewActivity"></activity>
        <activity
            android:name=".presentation.buyer.requests.BuyerRequestPreviewActivity"
            android:parentActivityName=".presentation.buyer.BuyerMainActivity" />
        <activity
            android:name=".presentation.handyman.HandymanMainActivity"
            android:label="@string/title_activity_handyman_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.buyer.BuyerMainActivity"
            android:label="@string/title_activity_buyer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.registration.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.login.LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>